@(transaction:com.braintreegateway.Transaction)

@main("Confirmation") {
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction Information</h3>
                </div>
                <div class="panel-body">
                    <strong>Transaction Id:</strong> @transaction.getId() <br>
                    <strong>Status:</strong> @transaction.getStatus().toString() <br>
                    <strong>Processor Response Code:</strong> @transaction.getProcessorResponseCode()<br>
                    <strong>Processor Response Text:</strong> @transaction.getProcessorResponseText()<br>
                    <strong>Payer Email:</strong> @transaction.getPayPalDetails().getPayerEmail()<br>
                    <strong>Payer Id:</strong> @transaction.getPayPalDetails().getPayerId()<br>
                    <strong>Authorization Id:</strong> @transaction.getPayPalDetails().getAuthorizationId()<br>
                    <strong>Capture Id:</strong> @transaction.getPayPalDetails().getCaptureId()
                </div>
            </div>
            <a href="/">Start over</a>
        </div>
    </div>
}